h1 {
    font-family: 'Display', sans-serif;
    font-size: 2rem;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #222222;
    color: #fabb23; 
    padding: 15px;
}

h2 {
    font-family: 'Display', sans-serif;
    font-size: 1.5rem;
    background-color: #faa975;
    color: black;
    padding: 15px;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

a {
  color: #fabb23;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    background: #333; 
    color: white;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222222;
    color: white;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.player {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #1a1a1a;
  padding: 12px 18px;
  border-radius: 14px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.player button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.player button:hover {
  background: #fabb23;
  color: black;
  transform: scale(1.05);
}

.player input[type="range"] {
  width: 120px;
}
